@media screen and (min-width: 1024px) and (min-height: 780px) {
  .Layout {
    font-family: "Roboto";
    padding: 0px;
  }
  .Layout__child {
    display: flex;
    justify-content: space-between;
  }
}
.HeaderHozontal {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020203;
}
.HeaderHozontal a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.HeaderHozontal__logo {
  width: 10%;
  margin-left: 10px;
  background-color: #020203;
  border: none;
}
.HeaderHozontal__logo img {
  width: 178px;
  height: 60px;
  cursor: pointer;
}
.HeaderHozontal nav {
  width: 90%;
}
.HeaderHozontal nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  list-style-type: none;
}
.HeaderHozontal nav ul li {
  color: white;
}

.HeaderVertical {
  width: 100px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  background-color: #020203;
}
.HeaderVertical__vide {
  height: 25%;
}
.HeaderVertical nav {
  height: 41%;
}
.HeaderVertical nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;
}
.HeaderVertical nav ul li {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: white;
  cursor: pointer;
  border-radius: 6px;
}
.HeaderVertical__copi {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profil {
  width: 95%;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  /****************** style du composant UserWelcome ************************/
}
.Profil .UserWelcome__titre {
  font-size: 48px;
  margin-bottom: 10px;
}
.Profil .UserWelcome__titre span {
  color: #ff0000;
}
.Profil__containerDiagram {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.Profil__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Profil__container .containerDiagramme {
  width: 70%;
}
.Profil__container .containerDiagramme .Profil__containerDiagram {
  width: 100%;
}
.Profil__container .containerAlimentation {
  width: 28%;
}

.titleBarchart {
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 80px;
}
.titleBarchart__legend {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.titleBarchart__legend--Item {
  color: #74798c;
}
.titleBarchart__legend--Item .icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: black;
}
.titleBarchart__legend--Item .caloriesIcon {
  background-color: #ff0000;
}

.BarChartComponent {
  height: 350px;
  display: flex;
  align-items: end;
  padding-top: 70px;
  background-color: #fBfBfB;
}
.BarChartComponent .barRadius {
  border: solid blue;
}

.LineChart {
  width: 31%;
  height: 350px;
  background-color: #ff0000;
  margin-top: 30px;
  border-radius: 5px;
  position: "relative";
}
.LineChart .container2 {
  width: 90%;
  margin: auto;
  height: 40px;
  position: relative;
  top: -30px;
}

.RadarChartComponent {
  width: 32%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282D30;
  margin-top: 30px;
  border-radius: 5px;
}

.RadialBarChartComponent {
  width: 31%;
  height: 350px;
  background-color: #fBfBfB;
  margin-top: 30px;
  border-radius: 5px;
}

.KeyInformation {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.KeyInformation__item {
  height: 20%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #fBfBfB;
}
.KeyInformation__item--icon {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.KeyInformation__item--calories {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
