//border radius
$borderRadius: 5px;

$greyColor: #fBfBfB;

$backgroundColorHeader: #020203;

//bar chart
$colorLegendeBarChart: #74798c;

//radar chart
$backgroundColorRadarChart: #282D30;
$colorRadarChart: #FF0101;
$radarChartOpacity: 70%;

//line chart
$redColor: #ff0000;

